
/*DOM ELEMENTS*/

#inputField {
	margin: 10% 50%;
}
.peopleCard {
	width: 20%;
	height: 35%;
	border: 1px solid gray;
	flex-direction: row;
	float: right;
	margin: 2%;
}

.containerForPeople {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:  10%;
}

.name {
	font-size: 2em;
	margin: 1%;
}

.title {
	font-size: 1.5em;
	margin: 1%;
}

.peopleBio {
	font-size: 1em;
	margin: 2%;
}

.photos {
  width: 60%;
  margin: 1%;
  border-radius: 20%;
}

.lifespanOf, p {
	font-size: 1em;
	margin: 1%;
	text-align: center;
}


/*CHANGE BACKGROUND COLORS*/

.peopleCard:nth-of-type(even) {
  background-color: lightyellow;
}

.peopleCard:nth-of-type(odd) {
  background-color: lightblue;